.body {
	padding-bottom: 0px;
    padding-top: 0px;
}
.info {
    height: 100px;
    width: 300px;
}
.ol-dragbox {
    background-color: rgba(255,255,255,0.4);
    border-color: rgb(0, 17, 53);
}
.page-header {
    padding-bottom: 0px;
    margin: 0px 0 0px; 
    border-bottom: 1px solid #eee;
}

.map{
    z-index: -1;
    position: relative;
}

.panel{
	z-index: 0;
	opacity: 0.8;
	position: absolute;
	top: 50px;
	right: 10px;
}

#speed1 .slider-selection {
	background: #A8C7EB;
}

#capacity1 .slider-selection {
	background:#F3BCD4;
}

#color1 .slider-selection {
	background:#FF9E9E;
}



